<main>
    <!-- <div class="container"> -->
    <div class="carousel-container">
        <div class="carousel-slide">
            <img src="picture/sam-carter-GHOiyov2TSQ-unsplash.jpg" id="lastClone" alt="white sheep on green grass">
            <img src="picture/annie-spratt-JMjNnQ2xFoY-unsplash.jpg" alt="cows at farm">
            <img src="picture/markus-spiske-vrbZVyX2k4I-unsplash.jpg" alt="focus photo of plant spouts">
            <img src="picture/mikki-seifu-GYF0GAsUkYI-unsplash.jpg"
                alt="red wooden barn near green trees, daytime photo">
            <img src="picture/phuc-long-aqrIcYonB-o-unsplash.jpg" alt="person picking green cabbage">
            <img src="picture/sam-carter-GHOiyov2TSQ-unsplash.jpg" alt="white sheep on green grass">
            <img src="picture/annie-spratt-JMjNnQ2xFoY-unsplash.jpg" id="firstClone" alt="cows at farm">

        </div>
    </div>
    <button id="prevBtn">Prev</button>
    <button id="nextBtn">Next</button>

</main>